
body {
    padding: 0;
    margin: 0;
    font-family: 'Castoro', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #2b2b2b;
    line-height: 1.4;
    background-color: #ffffff !important;
}

.text_ellipsis{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.text_green{
    color: #2c9506;
}
.nav_logo {
    width: 100px;

}

.bg_shadow {
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.card {
    border: none !important;
}

.card_shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}


.a_text-info {
    color: #0072e1;
}

.site_footer {
    padding: 15px 0;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    border-top: 1px solid #c5c5c5;
}


@media (min-width: 768px) {
    .nav_lg {
        height: 320px;

    }
}


/*==========================================*/

.body_view {
    min-height: 80vh;
    margin-top: 5%;
}

.navbar-text a {
    text-decoration: none !important;
}

.color-ring-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.product_card {
    border: none !important;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    cursor: pointer;
}

.product_card:hover {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .5);
}

.product_card > product_image {
    border-radius: 20px 20px 0 0;

}

.img_trim {
    max-height: 200px;
    max-width: 100%;
    overflow: hidden;
}

.carousel_img {
    aspect-ratio: 15/7;
    opacity: 0.9
}

.nav_bar {
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.carousel-caption {
    top: 25%;
}

.carousel-caption > h3 {
    font-size: 65px;
    letter-spacing: 2px;
}

.carousel_btn {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.carousel_e2e {
    margin: 0 -12px 0 -12px;
}

.sec_2 {
    color: #2c9506;
    letter-spacing: 2px;
}

.sec_4_header {
    font-size: 20px;
    font-weight: 700;
    color: #2c9506;
}

.sec_3_card {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    cursor: pointer;
}

.sec_3_card:hover {
    border-radius: 0px !important;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .5);
}

.sec_3_cardimg_trim {
    max-height: 275px;
    max-width: 100%;
    overflow: hidden;
    aspect-ratio: 153/161;
}

.sec_4_cardimg_trim {
    max-height: 250px;
    max-width: 100%;
    overflow: hidden;
    aspect-ratio: 153/161;
}
a{
    text-decoration: none !important;
    color: #2b2b2b !important;
}
/* Bounce To Right */
.sec_3_cardbody {
    /*display: inline-block;*/
    vertical-align: middle;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.sec_3_cardbody:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #16A085;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F4D03F, #16A085);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F4D03F, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.sec_3_cardbody:hover, .sec_3_cardbody:focus, .sec_3_cardbody:active {
    color: white;
}
.sec_3_cardbody:hover:before, .sec_3_cardbody:focus:before, .sec_3_cardbody:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.contact_us{
    color: #2c9506;
    font-size: 60px;
    /* font-weight: 700; */
    letter-spacing: 10px;
}

.contact_us_sub{
    color: #788573;
    font-size: 30px;
    /* font-weight: 700; */
    letter-spacing: 5px;
}
.contact_us_sub_header, .contact_us_sub_text{
    color: #788573;
    font-size: 20px;
    /* font-weight: 700; */
    letter-spacing: 5px;
}